<% provide(:title, 'Distributors') %>

<%= render 'distributors/sidebar' %>

<% no = 0 %>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" data-turbo="false">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Distributors</h1>
        <%= link_to "New distributor", new_distributor_path, class: "btn btn-outline-primary" %>
      </div>

      <% if notice %>
        <div class="mx-auto alert alert-success text-center">
          <%= notice %>
        </div>
      <% end %>

      <% unless @distributors.empty? %>
      
      <div class="d-flex flex-wrap align-items-start justify-content-start justify-content-lg-start">

        <table class="table table-stripped table-hover table-align-middle table-primary">
          <thead> 
            <tr class="text-center">
              <th scope="col">#</th>
              <th scope="col">Distributor Name</th>
              <th scope="col">Address</th>
              <th scope="col">Telephone</th>
              <th scope="col">Miscellaneous</th>
            </tr>
          </thead>

          <% @distributors.each do |distributor| %>

          <tbody>
            <tr>
              <th scope="col" class="text-center"><%= no += 1 %></th>
              <td class="text-center"><%= distributor.distributor_name %></td>
              <td class="text-center"><%= distributor.address %></td>
              <td class="text-center"><%= distributor.telephone %></td>
              <td class="text-center">
                <button id="dropdownAction2" type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Edit/delete Distributor
                </button>
                <ul class="dropdown-menu" aria-labelledy="dropdownAction2">
                  <li>
                    <%= link_to "Edit this distributor", edit_distributor_path(distributor), class: "dropdown-item link-primary" %>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li>
                    <%= button_to "Destroy this distributor", distributor, method: :delete, class: "dropdown-item link-danger" %>
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>

          <% end %>

        </table>
      </div>

      <% else %>
        <h1 class="text-center">
          No Data.
        </h1>
      
    </main>
  </div>
</div>



