<% provide(:title, @book.title) %>

<%= render 'books/sidebar' %>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Editing book <%= @book.title %></h1>
      </div>
      <%= render "form", book: @book %>

      <br>

      <div class="border-top d-grid gap-1">
        <br>
        <br>
        <%= link_to "Show this book", @book, class: "btn btn-outline-primary" %>
        <%= link_to "Back to books", books_path, class: "btn btn-outline-danger" %>
      </div>
    </main>
  </div>
</div>