<%= form_with(model: supply) do |form| %>
  <% if supply.errors.any? %>
    <div style="color: red" class="col-md-6 mx-auto alert alert-danger">
      <h2><%= pluralize(supply.errors.count, "error") %> prohibited this supply from being saved:</h2>

      <ul>
        <% supply.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :book_id, style: "display: block", class: "form-label" %>
    <%= form.collection_select(:book_id, Book.all, :id, :title, {}, {class: "form-control"} ) %>
  </div>

  <div class="mb-3">
    <%= form.label :distributor_id, style: "display: block", class: "form-label" %>
    <%= form.collection_select(:distributor_id, Distributor.all, :id, :distributor_name, {},  {class: "form-control"} ) %>
  </div>

  <div class="mb-3">
    <%= form.label :amount, style: "display: block", class: "form-label" %>
    <%= form.number_field :amount, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :date, style: "display: block", class: "form-label" %>
    <%= form.date_field :date, class: "form-control" %>
  </div>

  <div class="mb-3 d-grid gap-1">
    <%= form.submit class: "btn btn-outline-primary" %>
  </div>
<% end %>
