<div id="<%= dom_id supply %>">
  <p>
    <strong>Book:</strong>
    <%= supply.book_id %>
  </p>

  <p>
    <strong>Distributor:</strong>
    <%= supply.distributor_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= supply.amount %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= supply.date %>
  </p>

</div>
